<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong class="has-text-light">VERTEX</strong> - Innovating the Future of Technology. 
            <br>Made by Hamdi Ben Jarrar.</br>
        </p>
        <div class="social-icons">
            <a href="https://github.com/hamdibenjarrar" class="icon is-medium">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/hamdibenjarrar/" class="icon is-medium">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://x.com/Benjarrarhamdi" class="icon is-medium">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
        </div>
    </div>
</footer>