<%- include('layout', { body: `
<section class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <span class="icon">
                    <i class="fas fa-clock"></i>
                </span>
                We're Currently Closed
            </h1>
            <h2 class="subtitle">
                Our working hours are:<br>
                Monday to Friday: 9:00 AM - 5:00 PM
            </h2>
            <p class="mt-5">
                Please come back during our business hours to access our services.
            </p>
        </div>
    </div>
</section>
` }) %>